
1 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "res\\astral.ico"

5000 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "res\\abbg.jpg"
5001 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "res\\aboff.jpg"
5002 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "res\\abon.jpg"
5003 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "res\\abxoff.jpg"
5004 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "res\\abxon.jpg"
5005 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "res\\bg.jpg"
5006 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "res\\dooff.jpg"
5007 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "res\\doon.jpg"
5008 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "res\\xoff.jpg"
5009 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "res\\xon.jpg"

6000 RCDATA DISCARDABLE "res\\AHTeam - Page Promoter 6.3crk.xm"